USE [master]
GO
/****** Object:  Database [GSCapstone]    Script Date: 10/8/2021 4:14:54 PM ******/
CREATE DATABASE [GSCapstone]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'GSCapstone', FILENAME = N'C:\Users\vfernando\AppData\Local\Microsoft\Microsoft SQL Server Local DB\Instances\MSSQLLocalDB\GSCapstone.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'GSCapstone_log', FILENAME = N'C:\Users\vfernando\AppData\Local\Microsoft\Microsoft SQL Server Local DB\Instances\MSSQLLocalDB\GSCapstone.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [GSCapstone].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [GSCapstone]
GO
USE [GSCapstone]
GO
/****** Object:  Table [dbo].[ToDoes]    Script Date: 10/8/2021 4:14:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ToDoes](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nchar](10) NOT NULL,
	[Estimated Hours] [int] NOT NULL,
	[Created By] [nchar](10) NOT NULL,
	[Completed] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 10/8/2021 4:14:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[Id] [int] NOT NULL,
	[User Name] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
USE [master]
GO
