@using Kendo.Mvc.UI;
@using GreenSlate.Web.SPA.ViewModels;
@Html.AntiForgeryToken()


<h2></h2>

@(Html.Kendo().Grid<ToDoGridViewModel>()
            .Name("ToDoGrid")
            .ToolBar(toolbar => toolbar.Create().Text("Create New Task"))
            .Columns(columns =>
            {
                columns.Command(command => { command.Edit();}).Width(250);
                columns.Bound(p => p.Completed);
                columns.Bound(p => p.Title);
                columns.Bound(p => p.Estimated_Hours).Title("Estimated Hours");
                columns.Bound(p => p.Created_By).Title("Created By");
            })
            .Pageable(page => page.Enabled(false))
            .Sortable()
            .Scrollable()
            .Filterable(filter => filter.Mode(GridFilterMode.Row).Extra(true).Operators(e => e.ForString(a => a.Clear().Contains("Contains"))))
            .HtmlAttributes(new { style = "height:550px;" })
            .DataSource(dataSource => dataSource
                .Ajax()
                .PageSize(1000)
                .Model(m  => {                   
                    m.Id(t => t.Id);


                })
                .Create(create => create.Action("CreateToDo", "Home").Data("forgeryToken"))
                .Read(read => read.Action("GetAllToDos", "Home").Data("forgeryToken"))
                .Update(update => update.Action("UpdateToDo", "Home").Data("forgeryToken"))
                
                .ServerOperation(true)
                 .Model(model =>
                 {
                     model.Field(p => p.Created_By).Editable(false);
                 })

            )
            .Editable(editable => editable.Mode(GridEditMode.PopUp))
            .Events(e => e.DataBound("onDataBound"))
            .Events(e => e.Edit("onEdit"))
            .Events(e => e.Save("onGridEdit"))

        )


<style>
    th [role="listbox"] {
        visibility: hidden;
    }
</style>

<script>
    function forgeryToken() {
        return kendo.antiForgeryTokens();
    }
</script>

<script type="text/javascript">

    function onEdit(e) {
        debugger
        $('[name="Id"]').attr("readonly", true);
        $('[name="Created_By"]').attr("readonly", true);
    }

    function onGridEdit(e) {
        e.sender.one("dataBound", function (e) {
            e.sender.dataSource.read();
        });
    }

</script>
